<section class="hero">
  <!DOCTYPE html>
  <html>
    <body>
      <header>
        <nav>
          <div class="logo">
            <img src="../../../assets/election.jpg" alt="Logo" />
          </div>
          <ul class="links">
            <li><a [routerLink]="['']">Accueil</a></li>
            <li><a routerLink="/abonne_formulaire">Abonné</a></li>
            <li><a href="#">A propos</a></li>
          </ul>
        </nav>
      </header>

      <h1 class="text-center">
        Bienvenue sur notre application de normale de Développement FrontEnd
      </h1>

      <h3 class="text-center">
        Cliquer sur option abonne pour gérer les abonnés
      </h3>
    </body>
  </html>
</section>
