<div *ngIf="abonne" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ abonne.nom }}</h2>
    <div class="card-header text-center">Ajouter un abonne</div>
    <form (ngSubmit)="miseAjourAbonne()" [formGroup]="abonneForm" class="col-3">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          formControlName="nom"
          [(ngModel)]="abonne.nom"
        />
        <label for="prenom">prénom:</label>
        <input
          type="text"
          class="form-control"
          id="prenom"
          formControlName="prenom"
          [(ngModel)]="abonne.prenom"
        />
        <label for="age">Age:</label>
        <input
          type="number"
          class="form-control"
          id="age"
          formControlName="age"
          [(ngModel)]="abonne.age"
        />
        <label for="profession">Profession:</label>
        <input
          type="text"
          class="form-control"
          id="profession"
          formControlName="profession"
          [(ngModel)]="abonne.profession"
        />
        <label for="rue">Rue:</label>
        <input
          type="text"
          class="form-control"
          id="rue"
          formControlName="rue"
          [(ngModel)]="abonne.rue"
        />
        <label for="code_postal">Code_postal:</label>
        <input
          type="text"
          class="form-control"
          id="code_postal"
          formControlName="code_postal"
          [(ngModel)]="abonne.code_postal"
        />
        <label for="ville">ville:</label>
        <input
          type="text"
          class="form-control"
          id="ville"
          formControlName="ville"
          [(ngModel)]="abonne.ville"
        />
        <label for="pays">Pays:</label>
        <input
          type="text"
          class="form-control"
          id="pays"
          formControlName="pays"
          [(ngModel)]="abonne.pays"
        />
        <label for="telephone">Télephone:</label>
        <input
          type="text"
          class="form-control"
          id="telephone"
          formControlName="telephone"
          [(ngModel)]="abonne.telephone"
        />
        <label for="email">Email:</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          [(ngModel)]="abonne.email"
        />
        <label for="id_table_rubrique">ID rubrique:</label>
        <select
          name="id_table_rubrique"
          class="form-control"
          id="id_table_rubrique"
          formControlName="id_table_rubrique"
          [(ngModel)]="abonne.id_table_rubrique"
        >
          <option
            *ngFor="let rubrique of rubriques"
            [value]="rubrique.id_rubrique"
          >
            {{ rubrique.nom }}
          </option>
        </select>

        <label for="">ID Motivation:</label>
        <select
          name="id_motivation"
          class="form-control"
          id="id_motivation"
          formControlName="id_motivation"
          [(ngModel)]="abonne.id_motivation"
        >
          <option
            *ngFor="let motivation of motivations"
            [value]="motivation.id"
          >
            {{ motivation.intitule }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-outline-primary">Mise a jour</button>
      <p>{{ success }}</p>
    </form>
  </div>
</div>
<h4 *ngIf="!abonne" class="center">Aucun Abonné à afficher !</h4>
<br />
<a routerLink="/abonne_formulaire" class="btn btn-outline-danger"
  >Retourner a la liste des abonnés</a
>
